.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.pageButton:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.pageInfo {
  margin: 0 10px;
}
.pageButton.activePage {
  background-color: #007bff;
  color: white;
}
