.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: static;
}
@media (max-width: 767px) {
  .pagination {
    position: static; /* має бути в потоці документа */
    clear: both; /* перестраховка, якщо були якісь float’и */
    margin-top: 20px; /* відстань від останнього айтема */
    width: 100%; /* щоб зайняти всю ширину і не “плавати” */
  }
}

.pageButton {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.pageButton:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.pageInfo {
  margin: 0 10px;
}
.pageButton.activePage {
  background-color: #007bff;
  color: white;
}
