.wrapperSearch {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  padding: 48px 64px;
}
.filterLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.labelSearch {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
  width: 360px;
}

.inputSearch {
  border: none;
  width: 100%;
  height: 56px;
  font-size: 16px;
  padding-left: 48px;

  border-radius: 12px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 150%;
  color: var(--main);
}

.inputSearch::placeholder {
  position: relative;
  color: var(--gray-dark);
}

.inputSearch:focus {
  outline: none;
  border: 1px solid var(--gray-dark);
}
.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.filters {
  margin-top: 40px;
}

.filterButton {
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filterButton:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #4caf50;
  color: white;
}

.filterOptions {
  width: 360px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 48px;
}

.filterOptions > * {
  float: 1 0 30%;
  box-sizing: border-box;
}

.iconWrapper {
  display: flex;

  height: 64px;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
}
.iconWrapper svg {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}
.checkboxWrapper {
  position: relative;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column-reverse;
}

.checkboxWrapper input[type='checkbox'],
.checkboxWrapper input[type='radio'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkboxWrapper:hover,
.checkboxWrapper:focus {
  border: 1px solid var(--button);
  padding: 16px 40px;
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 32px;
}

.filtersCategory {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  position: relative;
  display: inline-block;
  z-index: 1;
}

.filtersCategory::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 360px;
  height: 1px;

  background-color: var(--gray-light);
}

.submitButton {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: var(--button);
  margin-top: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}

.submitButton:hover {
  background-color: var(--button-hover);
}
.submitButton:disabled {
  background-color: var(--gray-light);
  cursor: not-allowed;
}
