.details_container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 20px;
}

.basic_info {
  /* display: block; */
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.camperName {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}

.camperPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}
/* .camperLocation {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  font-size: 1rem;
  color: #666;
} */
.camper_rate_location {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 28px;
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.rating {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.rating_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.rating_text {
  margin-left: 0.5rem;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.location {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

/* Галерея фото */
.photo_gallery {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery_photo {
  border-radius: 10px;
  width: 292px;
  height: 312px;
  object-fit: cover;
}

.photo_section {
  margin-bottom: 20px;
}

.detail_photo {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Стилі для вкладок */
.tabs {
  justify-content: center;
  margin: 20px 0;
}
.tabs::after {
  content: '';
  display: block;
  width: 1312px;
  height: 2px;

  stroke: #dadde1;
  background-color: #dadde1;
  position: absolute;
  stroke: #dadde1;
}
.rating_location_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
}

.active {
  border-bottom: 2px solid #e44848;
  stroke-width: 5px;
  stroke: #e44848;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  gap: 40px; /* Відстань між контейнерами */
  align-items: flex-start;
}

.tab_content {
  padding: 44px 80px;
  background: #f7f7f7;
  border-radius: 10px;
  min-width: 631px;

  flex: 1; /* Дозволяє зайняти весь доступний простір */
}

.booking {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px 57px;
  /* Ширина 100%, щоб адаптуватися до ширини контейнера */
  min-width: 631px; /* Максимальна ширина для форми бронювання */
  flex: 1; /* Дозволяє зайняти весь доступний простір */
}

.vehicle_header {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  position: relative;
  margin-top: 100px;
}

.vehicle_header::after {
  content: '';
  display: block;
  width: 527px;
  height: 2px;
  stroke-width: 1px;
  stroke: #dadde1;
  background-color: #dadde1;
  position: absolute;
  bottom: 24; /* Встановлює лінію внизу елементу */
  left: 0;
}

.features_list {
  list-style: none;
  padding: 0;

  display: flex;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}
.features_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 12px 18px;
  /* width: max-content;
  height: max-content; */
  background: #f2f4f7;
  mix-blend-mode: multiply;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.features_icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.vehicle_details {
  list-style-type: none;

  margin-top: 24px;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if needed */
}

.vehicle_details li {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Full width by default, can be adjusted */
  margin-bottom: 8px; /* Space between each item */
}

.vehicle_details li .left {
  flex: 1; /* Take up equal space */
  text-align: left;
}

.vehicle_details li .right {
  flex: 1;
  text-align: right;
}

.review {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.booking_header {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.booking_paragraf {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-top: 8px;
}

.booking_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 24px;
}

/* Стилі для інпутів у формі бронювання */
.booking_form input {
  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

/* Якщо ви хочете зберегти стилізацію для інших типів інпутів, залишайте їх без змін */
.send_btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  white-space: nowrap;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: var(--button);
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: background 0.3s ease;
  border: none;
  cursor: pointer;
}

.send_btn:hover {
  background-color: var(--button-hover);
}

/* Кастомні стилі для react-datepicker */

/* Стиль для інпуту DatePicker */
.dateInput {
  border-radius: 12px;
  padding: 18px;
  width: 527px;
  height: 60px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  font-size: 16px;
}
.dateInput:focus {
  outline: none;
}

/* Стиль для плейсхолдера */
.dateInput::placeholder {
  color: #6c717b; /* Колір для плейсхолдера */
  font-size: 16px; /* Розмір шрифту */
}

/* Стиль для календаря */
.react-datepicker {
  border-bottom: 1px solid #475467;
  border-radius: 12px 12px 0 0;
  width: 276px;
  height: 284px;
}

.react-datepicker .react-datepicker__day--selected {
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background: #475467;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* для контрасту */
}

.react-datepicker__header {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  /* background-color: #f0f0f0; */
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.react-datepicker .react-datepicker__navigation {
  top: 12px;
}

.react-datepicker .react-datepicker__day-names {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #475467;
}

/* Стилі для загального контейнера календаря */
.dateInput {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  background-color: #ffffff;
  color: #101828;
}

/* Стилі для календаря */
.customCalendar {
  background-color: #ffffff;

  font-family: 'Inter', sans-serif;
}

/* Стилі для поппера */
.customPopper {
  /* width: 100%;
  height: 100%; */
  z-index: 1000;
}

/* Стилі для хедера */
.header {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101828;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
}

/* Стилі для кнопок переміщення між місяцями */
.navButton {
  background: none;
  border: none;
  font-size: 18px;
  color: #475467;
  cursor: pointer;
}

/* Стиль для заголовка місяця */
.monthYear {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101828;
}

/* Стилі для назв днів тижня */
.react-datepicker__day-name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #475467;
}

/* Лінія під назвами днів тижня */
.react-datepicker__day-names {
  border-bottom: 2px solid #475467;
  margin-bottom: 0; /* Підтягування лінії до рамки */
  padding-bottom: 0;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #475467;
}

/* Стилі для днів поточного місяця */
.react-datepicker__day {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #101828;
  border-radius: 32px;
  transition: background-color 0.2s ease;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  /* width: 1.7rem; */
  /* line-height: 1.7rem; */
  /* text-align: center; */
  /* margin: 0.166rem; */
}

/* Стилі для днів іншого місяця */
.react-datepicker .react-datepicker__day--outside-month {
  color: #475467;
  border-radius: 32px;
  opacity: 0.5;
}
.react-datepicker__month {
  margin: 12px;
  text-align: center;
  width: 252px;
  height: 176px;
}

/* Стилі для днів обраного місяця */
.react-datepicker__day:hover:not(.react-datepicker__day--selected):not(
    .react-datepicker__day--outside-month
  ) {
  background-color: #e0e0e0; /* Зміна фону при наведенні на день */
  border-radius: 50%;
}

/* Стилі для днів поточного місяця */
.currentMonthDay {
  border-radius: 32px;
  width: 36px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;

  text-align: center;
  color: #101828;
}

.currentMonthDay::selected {
  border-radius: 32px;
  width: 36px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #f7f7f7;
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background: #475467;
}

/* Стилі для днів іншого місяця */
.otherMonthDay {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 32px;
  width: 36px;
  height: 32px;
  line-height: 1.2;
  text-align: center;
  color: #475467;
  opacity: 0.5;
}
.currentMonthDay.selected {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #f7f7f7;
  border-radius: 32px;
  width: 36px;
  height: 32px;
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background: #475467;
}

/* Стиль для окремих днів календаря */
.customDay {
  display: inline-flex;
  align-items: center;
  border-radius: 32px;
  justify-content: center;
  border-radius: 32px;
  width: 36px;
  height: 32px;
}
