.favoritesList {
  position: fixed; /* Фіксоване положення відносно вікна */
  bottom: 150px; /* Відступ зверху (налаштовуйте за потребою) */
  left: 80px; /* Відступ справа (налаштовуйте за потребою) */
  width: auto; /* Ширина модального вікна */
  background-color: #fff; /* Білий фон */
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000; /* Забезпечує, що вікно буде поверх іншого контенту */
  overflow-y: auto; /* Додаємо скрол, якщо контент перевищує висоту */
  max-height: 80vh; /* Максимальна висота, щоб не виходило за межі екрану */
}

/* Залишаємо існуючі стилі для посилань або змінюємо за потребою */
.favoriteLink {
  font-size: 18px;
  color: #0a0a0a;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.favoriteLink:hover {
  color: #d84343;
}
