#root {
  display: flex;
  flex-direction: column;

  margin: 0 auto; /* Центрує контейнер по горизонталі */
  width: fit-content; /* Контейнер підлаштовується під ширину вмісту */
  min-width: 1440px;
}
